.social-login
    button.social-login__Github
        span
            i.fa.fa-github
        |Continue With Github
    button.social-login__Facebook
        span
            i.fa.fa-github
        |Continue With Facebook